.homepageHeader {
    position: absolute;
    top: calc(50% - 300px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.homepageParagraph {
    position: absolute;
    top: calc(50% - 250px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.homepageImage {
    position: absolute;
    top: calc(50% - 250px);
    left: 38%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
}
body {
    display: flex;
    flex-direction: row;
}  
.sidebar {
    border-style: solid;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}
li a {
    display: block;
    width: 150px;
}
a {
    text-align: center;
}
a:hover {
    background-color: gray;
    color: white;
}